@{
    ViewData["Title"] = "Lista de Vehículos";
}
<!-- Fuente tipo cartel -->
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<style>
    .font-title {
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 1px;
    }
</style>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-4" style="font-family:'Bebas Neue',sans-serif;">
            Lista de Vehículos
        </h1>
        <a asp-area="Admin"
           asp-controller="Vehiculos"
           asp-action="Create"
           class="btn btn-dark">
            <i class="fas fa-plus me-1"></i> Nuevo Vehículo
        </a>
    </div>
    <table id="tblVehiculos"
           class="table table-striped table-bordered align-middle">
        <thead class="table-dark text-center">
            <tr>
                <th>Matrícula</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Km</th>
                <th>Estado</th>
                <th>P/Día</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/Admin/vehiculo.js"></script>
}
